body {
    background-color: #111;
    color: white;
    text-align: center;
    font-family: Arial;
    margin-top: 100px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: cyan;
    border: none;
    cursor: pointer;
}
